<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/esr_trans.css" rel="stylesheet" media="screen">
<title>Captura viajes</title>
</head>
<body >
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type="text/javascript" src="js/capturaViaje.js"></script>

<div id="principal" class="divprincipal"> 
	<div class="row-fluid" align="center">
		<div class=".col-md-9">
			<img src="images/IFAI_logo.jpg"><img src="images/cabecera.png" width= "60%" height="130px"  />
		</div>
	</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-info">
					<div class="panel-heading" align="center">
						Servidor público
					</div>
					<div class="panel-body">
						<form class="form" role="form">
							<div class="form-group">
								<label class="control-label">Nombre</label>
								<div ng-controller="ServpController as datos">
									<input type="text" class="form-control" placeholder="Type something." disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Ape. paterno</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Ape. materno</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disabled">
								</div>	
							</div>
						  </fieldset>
						</form>
					</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading" align="center">
							Información comisión
						</div>
					<div class="panel-body">
						<form class="form" role="form">
							<div class="form-group">
								<label class="control-label">No. Comisión</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Mecanismo Origen</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disable" >
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Tipo comisión</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disable" >
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Tipo presentación</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disable" >
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Fecha inicio comisión</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disable" >
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Fecha fin comisión</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disable" >
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Instancia que genera</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disable" >
								</div>
							</div>
						</form>
					</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading" align="center">
							Viajes
						</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<tr class="info">
								<td class="info">Origen</td>
								<td class="info">Destino</td>
								<td class="info">Evento</td>
								<td class="info">
									<button class='btn btn-primary' >Editar</button>
									<button class='btn btn-danger' >Eliminar</button>
								</td>
							</tr>
						</table>
					</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading" align="center">
							Gastos totales
						</div>
					<div class="panel-body">
						<form class="form" role="form">
							<div class="form-group">
								<label class="control-label">Comprobado</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label"> Sin Comprobar</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label"> Viatico devuelto</label>
								<div>
									<input type="text" class="form-control" placeholder="Type something." disabled="disabled">
								</div>
							</div>
						</form>
					</div>
					</div>
					<div align="right">
						<button class='btn btn-primary' >Liberar comisión</button>
					</div>
				</div>	
				<div class="col-md-9" ng-app="ModuloCaptura">
					<div class="container-fluid">
						<div ng-controller="AccordionDemoCtrl">
							<p>
								<button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
								<button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
							</p>
						<accordion close-others="oneAtATime">
						<accordion-group heading="Captura de comisión" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
							<div ng-app="ModuloCaptura" ng-controller="FormCtrlComision">
							<form novalidate class="form-inline" role="form" ng-submit="guardar()">
								<div class="row" >
										<div class="form-group col-md-3">
											<label class="control-label">Comisión</label>
											<input type="text" class="form-control" placeholder="Num. comision">
										</div>	
										<div class="form-group col-md-3">
											<label class="control-label">Mecanismo Origen</label>
												<div class="dropdown">
													<a class="btn btn-default" href="#" data-toggle="dropdown">Seleccione una opción<b class="caret"></b></a>
													<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
														<li>
															<a>Invitación</a>		
														</li>
														<li>
															<a>Req. UR</a>		
														</li>
													</ul>
												</div>
										</div>	
										<div class="form-group col-md-3">
											<label class="control-label">Tipo comisión</label>
												<div class="dropdown">
													<a class="btn btn-default" href="#" data-toggle="dropdown">Seleccione una opción<b class="caret"></b></a>
													<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
														<li>
															<a>Invitación</a>		
														</li>
													</ul>
												</div>
										</div>	
										<div class="form-group col-md-3">
											<label class="control-label">Representación</label>
												<div class="dropdown">
													<a class="btn btn-default" href="#" data-toggle="dropdown">Seleccione una opción<b class="caret"></b></a>
													<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
														<li>
															<a>Invitación</a>		
														</li>
													</ul>
												</div>
										</div>										
								</div>		
								
								<div class="row">
										<div class="form-group col-md-3">
											<label class="control-label"> Fecha Inicio</label>
											<div ng-controller="DatepickerDemoCtrl">
												<div class="row">
													<div class="col-md-6">
														<p class="input-group">
														  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
														  <span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
														  </span>
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group col-md-3">
										<label class="control-label"> Fecha Fin</label>
											<div ng-controller="DatepickerDemoCtrl">
												<div class="row">
													<div class="col-md-6">
														<p class="input-group">
														  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
														  <span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
														  </span>
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group col-md-3">
											<label class="control-label"> Instancia</label>
											<input type="text" class="form-control" placeholder="Instancia que genera">
										</div>
										<div class="form-group col-md-3">
											<label class="control-label"> Unidad resp.</label>
											<input type="text" class="form-control" placeholder="UR">
										</div>
								</div>
								<div class="row">
										<div class="form-group col-md-3">
											<label class="control-label"> Consecutivo</label>
											<input type="text" class="form-control" placeholder="Acuerdo">
										</div>
										<div class="form-group col-md-3">
											<label class="control-label"> Acuerdo</label>
											<input type="text" class="form-control" placeholder="Acuerdo">
										</div>
										<div class="form-group col-md-3" >
											<label class="control-label"> Oficio</label>
											<input type="text" class="form-control" placeholder="Oficio">
										</div>
								</div>	
								<br></br>
								<div class="row" >	

										<div class="form-group col-md-4">
											<label class="control-label">Motivo</label>
											<textarea class="form-control">
											</textarea>
										</div>	
									
										<div class="form-group col-md-4" >
											<label class="control-label"> Resultado</label>
											<textarea class="form-control">
											</textarea>
										</div>
								
										<div class="form-group col-md-4" >
											<label class="control-label"> Observaciones</label>
											<textarea class="form-control">
											</textarea>
										</div>
										
								</div>	
								<div class="row">
									<div class="form-group col-md-3 col-md-offset-8" >
											<button class='btn btn-primary' >Guardar</button>
									</div>
								</div>
							</form>
						</div>
						</accordion-group>
						<accordion-group heading="Captura de viaje" is-disabled="status.isFirstDisabled">
						  <p>The body of the accordion group grows to fit the contents</p>
							<button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
							<div ng-repeat="item in items">{{item}}</div>
						</accordion-group>
						<accordion-group heading="Captura de gastos" is-open="status.open">
							This is just some content to illustrate fancy headings.
						</accordion-group>
						</accordion> 
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>	
</div>	
		
</div>
</body>
</html>
