<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                
                <h2>Tema del Viaje  <%= @tema %></h2>
            </div>
            <hr>
	  <!-- /.col-lg-6 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Detalle Del Viaje
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#evento-pills" data-toggle="tab">Evento</a>
                                </li>
                                <li><a href="#antecedentes-pills" data-toggle="tab">Antecedentes</a>
                                </li>
                                
                                </li>
                                <li><a href="#contribucion-pills" data-toggle="tab">Contribucion</a>
                                </li>
								 <li><a href="#hospedaje-pills" data-toggle="tab">Hospedaje</a>
                                </li>
								<li><a href="#pasaje-pills" data-toggle="tab">Pasaje</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="evento-pills">
                                    
									<h3>Nombre del evento (EVENTO)</h3>
									<h4>Del 14/02/2014(FECHAINICIO_PART) al 18/02/2014(FECHAFIN_PART)</h4>
									<a href="#"><h6>URL del evento(URL_EVENTO)</h6></a>
									<a href="#"><h6>URL del comunicado(URL_COMUNICADO)</h6></a>
									<br></br>
									
                                    <p>
									(ACTIVIDAD)
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									
									</p>
                                </div>
                                <div class="tab-pane fade" id="antecedentes-pills">
                                    (ANTECEDENTE)
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                
                                <div class="tab-pane fade" id="contribucion-pills">
                                    (ACTIVIDAD)
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
								<div class="tab-pane fade" id="hospedaje-pills">
                                    <h4>El hospedaje corrio a cuenta de:</h4>
                                    <h5>Institucion que genera el hospedaje (INST_HOSPEDAJE)</h5>
									
									<h4>Hotel:</h4>
                                    <h5>Nombre del Hotel (HOTEL)</h5>
									
									<h4>Fecha de hospedaje:</h4>
                                    <h5>Del 15/02/2014 (FECHAINICIO_HOTEL) al 17/02/2014(FECHAFIN_HOTEL)</h5>
									
                                </div>
								
								<div class="tab-pane fade" id="pasaje-pills">
                                    <h4>El pasaje fue via:</h4>
                                    <h5>Aereo(idTipo_pasaje)</h5>
									
									<h4>Aerolinea Origen:</h4>
                                    <h5>Nombre de la aerolinea (LINEA_ORIGEN)</h5>
									<h4>Vuelo Origen:</h4>
                                    <h5>Nombre del origen (VUELO_ORIGEN)</h5>
									
									<h4>Aerolinea Origen:</h4>
                                    <h5>Nombre de la aerolinea (LINEA_DESTINO)</h5>
									<h4>Vuelo Origen:</h4>
                                    <h5>Nombre del destino (VUELO_DESTINO)</h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
		<div align="center">
								<div class="col-md-offset-20" >
									<button class="btn btn-primary" type="button">Regresar</button>
								</div>

							</div>

</div>

<style>
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
</style>