<style>
@media (min-width: 768px) { 

    .navbar-nav > li.f1:before{
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        background-color:rgb(220,220,220);
        top: 50%;
        margin-top: -2px;
        right: -3px;
        z-index: 1;
        border-radius: 6px;
    }
	
	
    .navbar-nav > li:before {
        right: auto;
        left: -3px;
    }
}
</style>

<div id="principal" class="divprincipal"> 
	<br>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-6">
				<div class="panel panel-primary">
				<div class="panel-heading">Grafica costo vs viajes (MXN)</div>
				<div class="panel-body">
					<div id="nav">
							<div class="container-fluid">
								<div class="collapse navbar-collapse">
									<ul class="nav navbar-nav">
										<li>
											<a><%= @public_officer.full_name %></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					<canvas id="lineas" height="250" width="250"></canvas>
				</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
				<div class="panel-heading">Grafica costo vs viajes (USD)</div>
				<div class="panel-body">
					<div id="nav">
							<div class="container-fluid">
								<div class="collapse navbar-collapse">
									<ul class="nav navbar-nav">
										<li>
											<a><%= @public_officer.full_name %></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					<canvas id="lineas2" height="250" width="250"></canvas>
				</div>
			</div>
		</div>
	<div>
	<script>
	   	
		var lineChartData = <%= @hash_completoMXN.to_json.html_safe %>
		var lineChartData2 = <%= @hash_completoUSD.to_json.html_safe %>

		window.onload = function(){
		var ctxL = document.getElementById("lineas").getContext("2d");
		var ctxL2 = document.getElementById("lineas2").getContext("2d");
		
		window.myLine = new Chart(ctxL).Line(lineChartData, {
			responsive: true
		});
		
		window.myLine = new Chart(ctxL2).Line(lineChartData2, {
			responsive: true
		});
		
	}
	</script>
</div>

