<h1>Servidores Públicos</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @public_officers.each do |public_officer| %>
  <tr>
    <td><%= link_to public_officer.full_name, new_public_officer_commission_path(public_officer) %>
  </tr>
<% end %>
</table>