<div>
  <%= render 'ficha_servidor_publico' %>
</div>
<div>
	<%= link_to 'Conoce más acerca de los viajes de los servidores públicos.', new_search_path %> 
</div>
<div class="well">
  <%= render :partial => 'static_pages/viajes_de_servidor' %>
</div>