<style>
	html, body {
		width:100%;
		padding: 0px;
		margin: 0px;
	}

	.vco-storymap {
		margin-bottom:0px;
	}
	
	#storymap1{
		width:100%;
		height:700px;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
	}
</style>
<div class="row">
	<div id="storymap1"></div>
</div>
<div class="row">
    <div class="col-md-6 text-center" style="border:1px solid rgba(86,61,124,.2);color: #333; background-color: rgba(86,61,124,.15);">
    	<span class="glyphicon glyphicon-user"></span><%= link_to '  Búqueda de Servidores Públicos', new_search_path %></div>
    <div class="col-md-6 text-center" style="border:1px solid rgba(86,61,124,.2);color: #333; background-color: rgba(86,61,124,.15);">
		<span class="glyphicon glyphicon-plane" ></span><%= link_to '  Búqueda de Viajes', new_search_trip_path %>
    </div>
</div>

<script>
	var storymap1 = new VCO.StoryMap('storymap1', 'http://localhost:3000/viajes_inicial', {use_custom_markers:true});
	window.onresize = function(event) {
		storymap1.updateDisplay();
	}
</script>