<!DOCTYPE html>
<html>
<head>
  <title>ViajesTransparentesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">

			<div class="navbar-header">
				<a class="navbar-brand" href="#">Viajes Transparentes</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">          
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Administrar Cuenta</a></li>
							<li class="divider"></li>
							<li><a href="#">Cerrar Sesión</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
